@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    min-height: 100vh;
  }
  body {
    @apply text-slate-900 dark:text-white transition-colors duration-300;
    --primary-color: #2563eb;
    background-color: hsla(0, 0%, 100%, 1);
    background-image:
      radial-gradient(
        at 83.94669894498148% 55.70467939077488%,
        hsla(198.56502242152467, 100%, 56.27450980392157%, 1) 0%,
        hsla(198.56502242152467, 100%, 56.27450980392157%, 0) 100%
      ),
      radial-gradient(
        at 26.078166855840223% 93.0089217454688%,
        hsla(0, 0%, 100%, 1) 0%,
        hsla(0, 0%, 100%, 0) 100%
      ),
      radial-gradient(
        at 72.91176438466465% 65.39909666305458%,
        hsla(198.56502242152467, 100%, 56.27450980392157%, 1) 0%,
        hsla(198.56502242152467, 100%, 56.27450980392157%, 0) 100%
      ),
      radial-gradient(
        at 62.94702881874369% 80.92537879541628%,
        hsla(0, 0%, 100%, 1) 0%,
        hsla(0, 0%, 100%, 0) 100%
      ),
      radial-gradient(
        at 21.955986910557446% 24.301105236988274%,
        hsla(198.56502242152467, 100%, 56.27450980392157%, 1) 0%,
        hsla(198.56502242152467, 100%, 56.27450980392157%, 0) 100%
      );
    background-attachment: fixed;
  }

  .dark body {
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(at 51.36411372036708% 85.47643828580964%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 88.295178699992% 86.98448945051169%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 10.103948136588992% 78.0395293809522%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%), radial-gradient(at 20.06565278867596% 13.04333840063492%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 5.927917594856968% 74.60244668717951%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 59.24099214401319% 18.253221531085806%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%), radial-gradient(at 9.932714554281151% 41.84151470426984%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 18.61116962907853% 70.14732404608642%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 1) 0%, hsla(244.99999999999997, 92.3076923076923%, 20.392156862745097%, 0) 100%), radial-gradient(at 21.86694218061541% 58.76787016268905%, hsla(240, 88.88888888888889%, 14.117647058823529%, 1) 0%, hsla(240, 88.88888888888889%, 14.117647058823529%, 0) 100%);
    background-attachment: fixed; /* Ensures gradient covers full height on scroll */
  }

  /* Apply smooth transition to all color-related properties for common elements */
  *,
  *::before,
  *::after {
    @apply transition-colors duration-300 ease-in-out;
  }
}

.glass {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
}
