@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-white transition-colors duration-300;
    --primary-color: #2563eb;
  }
  
  /* Apply smooth transition to all color-related properties for common elements */
  *, *::before, *::after {
    @apply transition-colors duration-300 ease-in-out;
  }
}

.glass {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
}
